@font-face {
  font-family: 'im';
  src:  url('icons/im.eot?adrsbp');
  src:  url('icons/im.eot?adrsbp#iefix') format('embedded-opentype'),
    url('icons/im.ttf?adrsbp') format('truetype'),
    url('icons/im.woff?adrsbp') format('woff'),
    url('icons/im.svg?adrsbp#im') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'im' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat2:before {
  content: "\e902";
}
.icon-comment1:before {
  content: "\e903";
}
.icon-instagram1:before {
  content: "\e904";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-pen:before {
  content: "\e908";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-printer:before {
  content: "\e954";
}
.icon-forward:before {
  content: "\e969";
}
.icon-user:before {
  content: "\e971";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-npm:before {
  content: "\eab1";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-chat1:before {
  content: "\e900";
}
.icon-comments:before {
  content: "\e900";
}
.icon-bubble1:before {
  content: "\e900";
}
.icon-talk1:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-bubble:before {
  content: "\e901";
}
.icon-comment:before {
  content: "\e901";
}
.icon-talk:before {
  content: "\e901";
}
.icon-facebook1:before {
  content: "\e905";
}
.icon-social:before {
  content: "\e905";
}
.icon-flag:before {
  content: "\e907";
}
.icon-quote-right:before {
  content: "\e909";
}
.icon-quote-left:before {
  content: "\e90a";
}
.icon-hourglass-3:before {
  content: "\e90b";
}
.icon-hourglass-21:before {
  content: "\e90c";
}
.icon-hourglass-1:before {
  content: "\e90d";
}
.icon-ellipsis-v:before {
  content: "\e90e";
}
.icon-ellipsis-h:before {
  content: "\e90f";
}
.icon-envelope:before {
  content: "\e910";
}
.icon-linkedin-square:before {
  content: "\e911";
}
.icon-linkedin:before {
  content: "\e912";
}
.icon-hourglass-2:before {
  content: "\e913";
}
.icon-hourglass-half:before {
  content: "\e913";
}
