/* Imports */
@import url('./fonts.css');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
    height: 2000px;
    color: #383A3C;
}

#loader {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #d1ccc0;
    position: fixed;
    z-index: 999;
    overflow: hidden;
}
#loader .container {
    position: fixed;
    max-width: 180px;
    top: calc(50vh - 90px);
    left: calc(50vw - 90px);
    color: #b33939;
}


h1 {
    font-family: 'Trevor', 'Roboto Slab', sans-serif;
    color: #383A3C;
    font-size: 60px;
}
hr {
    background-color: #484A4D;
    border: 0 none;
    color: #484A4D;
    height: 3px;
    width: 50%;
}
/* 383a3c */

hr .double{
    margin: 2px auto;
}
.separator {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    font-weight: 100 !important;
    font-family: sans-serif;
}
.separator span {
    position: relative;
    display: inline-block;
}
.separator span::before {
    right: 100%;
    margin-right: 4px;
}
.separator span::after {
    left: 100%;
    margin-left: 4px;
}
.separator span::before, .separator span::after {
    content: "" ;
    position: absolute;
    height: 6px;
    border-bottom: 2px solid #383A3C !important;
    top: 5px;
    width: 50px;
}
.font-trevor {
    font-family: 'Trevor', 'Roboto Slab', serif;
}
.font-hwt {
    font-family: 'HWTArtz', 'Roboto Slab', serif;
}
.font-bazar {
    font-family: 'Bazar', 'Roboto Slab', serif;
}
.font-retro {
    text-shadow: 1px 2px #FCFAF7, 3px 4px #484A4D;
}
.font-retro-less {
    text-shadow: 1px 1px #FCFAF7, 2px 2px #484A4D;
}
.border-lr {
    border-style: dashed !important;
    border-color: #383A3C !important;
    border-width: 0px 1px!important;
}
.border-left {
    border-left-style: dashed !important;
    border-left-color: #383A3C !important;
    border-left-width: 1px !important;
}
.bg-midblue {
    background-color: #7ed6df;
}
#nav {
    min-width: 300px;
    background-color: #33d9b2;
    height: 100vh;
    position: fixed;
    padding: 0 7px;
    border-right: rgba(56, 58, 60, 0.5) solid 1px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.25);  
}
#nav .container {
    height: 100%;
}
#nav li {
    font-weight: bold;
}
#nav li a {
    color: #383A3C;
}
#nav li a:active {
    color: #b33939;
}

.content {
    margin-left: 300px;
    padding-left: 7px;
    padding-right: 0px;
    border-bottom: rgba(56, 58, 60, 0.5) solid 1px;
}
/* #ebc98c */
.content .container {
    margin: 0;
    margin-right: 0px !important;
    min-height: 100vh;
}
.retro-icon {
    min-width: 40px;
    min-height: 40px;
    border: #383A3C;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%; 
    display: inline-block;
    background-color: #383A3C;
    background-blend-mode: difference;
}
.retro-icon i {
    color: #33d9b2 !important;
    position: relative;
    top: 5px;
}
.border-round {
    border: #383A3C solid 2px;
    border-radius: 50%;
    padding: 3px;
}
.border-round:hover {
    background-color: #383A3C;
}
.border-red {
    border: red solid 2px;
}
#nav-toggle {
    display: none;
}

#profile-image {
    max-width: 30%;
}

.onhover-up:hover {
    margin-top: 0;
}

#about {
    background-color: #ffda79;
}

#recent-posts {
    background-color: #d1ccc0;
}

#recent-posts a {
    text-decoration: none;
    color: #383A3C;
    box-sizing: content-box;
}
.post-short {
    border-left: #b3393900 dashed 3px;
}
.post-short:hover {
    border-left-color: #b33939
}

.post-title .post-duration, .post-title .post-time {
    font-size: 13px;
    color: #b33939;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: rgba(56, 58, 60, 0.3);
    padding: 2px 5px;
    
}

/* Contact */
#contact {
    background-color: #596275;
    color: #fad390;
}
#contact h1 {
    color: #fad390;
}
#contact .retro-icon {
    min-width: 150px;
    min-height: 150px;
    border: #fad390;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%; 
    display: inline-block;
    background-color: #fad390;
    background-blend-mode: difference;
}
#contact .retro-icon i {
    font-size: 80px;
    color: #596275 !important;
    line-height: auto;
    position: relative ;
    top: 28px;
}
#contact .border-round {
    border: #fad390 solid 2px;
    border-radius: 50%;
    padding: 3px;
}
#contact .border-round:hover {
    background-color: #fad390;
}

#contact .separator span::before {
    right: 100%;
    margin-right: 4px;
    border-color: #fad390 !important;
}
#contact .separator span::after {
    left: 100%;
    margin-left: 4px;
    border-color: #fad390 !important;
}

/* blog post */
#post {
    background-color: #d1ccc0;
}

#post h1 {
    font-size: 45px;
}
#post hr {
    margin-left: 0px;
    height: 4px;
    background-color: #b33939;
    border-radius: 2px;
}
#post .post-duration, #post .post-time {
    font-size: 15px;
    color: #b33939;
}
.post-content {
    font-size: 18px;
}
.post-content::first-letter  {
    font-size: 30px;
    color: #218c74;
}
.post-content {
    line-height: 22px;
}
.post-content h2 {
    margin: 0;
    margin-top: 10px;
}

.post-content .color-red {
    color: #b33939;
}

.post-content .color-green {
    color: #218c74;
}

#post .quote::before{
    content: icon
} 

.post-content img {
    padding: 15px 0;
    display: block;
}
.post-content .img-lg {
    max-width: 80%;
}
.post-content .img-md {
    max-width: 60%;
}
.post-content .img-sm {
    max-width: 40%;
}
.post-content .img-xs {
    max-width: 30%;
}
/* Responsive Queries */

@media (min-width: 551px) and (max-width: 980px) {
    #profile-image {
        max-width: 60%;
    }    
}

@media (max-width: 980px) {
    #nav-toggle {
        display: unset;
        position: fixed;
        /* box-shadow: 2px 0 5px rgba(0,0,0,0.25); */
        border: #383A3C dashed 1px;
        border-left-width: 0px;
        background-color: #33d9b2;
        top: 2px;
        left: -1px;
        color: #383A3C;
        font-size: 20px;
        min-width: 35px;
        min-height: 35px;
        z-index: 20;
        transition: left 300ms ease-out;
    }
    #nav {
        left: -300px;
        z-index: 20;
        transition: left 300ms ease-out;
        border-right: #383A3C dashed 1px;
    }
    .content{
        margin-left: 0px;
        padding: 7px 0;
    }
    .content .container {
        max-width: unset;
    }
    #profile-image {
        max-width: 60%;
    }
    .border-left {
        border-left-width: 0px !important;
    }

    .border-tb-sm {
        border-style: dashed !important;
        border-color: #383A3C !important;
        border-width: 1px 0px!important;
    }
    #post hr {
        margin-left: auto;
        width: 70%;
        height: 4px;
        background-color: #b33939;
        border-radius: 2px;
    }
    #post .post-duration, #post .post-time {
        font-size: 13px;
        color: #b33939;
    }
    .post-content img {
        margin: auto;
    }
    .post-content .img-lg-sm {
        max-width: 100%;
    }
    .post-content .img-md-sm {
        max-width: 70%;
    }
    .post-content .img-sm-sm {
        max-width: 40%;
    }
    .post-content .img-xs-sm {
        max-width: 30%;
    }
    
}



@media (min-width: 100px) and (max-width: 550px) {
    

}